# Dependencies
node_modules/

# Environment
.env
.env.example
# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
engine-py/venv/
__pycache__/
*.pyc

# Firebase
serviceAccountKey.json
